{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block content %}



<div class="container">

    <div class="row align-items-center my-5">

        <div class="w-25 col-md-5 ">
            <img src="https://i.ibb.co.com/rGdCZKc8/asdfghjkl-photoaidcom-cropped.png" class="img-fluid " alt="...">
        </div>


        <div class="col-md-7 ">
            <h3>Hi! it's Mahiya..</h3>
            <h6>I’m a passionate Frontend Developer skilled in React.js, Next.js, JavaScript, and Tailwind CSS, focused
                on building clean and responsive web applications.
                I enjoy learning new technologies, solving problems, and turning creative ideas into user-friendly
                digital experiences.
            </h6>
        </div>
    </div>

</div>

{% endblock content %}