{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}



<div class="container">

    <div class="row align-items-center my-5">
        <div class="col-md-3">

            <div class="w-26 ">
                <img src="https://i.ibb.co.com/rGdCZKc8/asdfghjkl-photoaidcom-cropped.png" class="img-fluid " alt="...">
            </div>

            <div class="my-5 lh-sm">

                <h6>Contact</h6>
                <p>+8801873333199</p>
                <p>habibaislammim@gmail.com</p>
                <p>https://github.com/Umme-Habiba123</p>

            </div>

            <div>
                <h6>Education</h6>
                <p>Stamford University</p> <br>
            </div>

            <div>
                <h6>Skills</h6>
                <p>React <br> Next.js <br> MongoDB <br>Python <br>Tailwind <br>DaisyUI <br>JavaScript<br>Boostrap
                    <br>Communication Skills</p>
            </div>

            <div>
                <h3>Language</h3>
                <p>English - Fluent</p>
                <p>Bangla - Fluent</p>
            </div>

            <div>
                <h3>Training & Certification</h3>
                <p>Web Development</p>
            </div>
        </div>


        <div  class="col-md-7 ">
            <div>
                <h3>Hi! it's Mahiya..</h3>
                <h6>I’m a passionate Frontend Developer skilled in React.js, Next.js, JavaScript, and Tailwind CSS,
                    focused
                    on building clean and responsive web applications.
                    I enjoy learning new technologies, solving problems, and turning creative ideas into user-friendly
                    digital experiences.
                </h6>
            </div>

            <div>
                <h6>Education</h6>
                <h5>Bachelor of Science (B.Sc.) in Computer Science & Engineering(CSE)</h5>
            </div>
        </div>
    </div>

</div>

{% endblock content %}