{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}



<div class="container">

    <div class="row align-items-center my-5">
        <div class="col-md-3">

            <div class="w-26 ">
                <img src="https://i.ibb.co.com/rGdCZKc8/asdfghjkl-photoaidcom-cropped.png" class="img-fluid " alt="...">
            </div>

            <div class="my-5 lh-sm">

                <h6>Contact</h6>
                <p>+8801873333199</p>
                <p>habibaislammim@gmail.com</p>
               <a href="https://github.com/Umme-Habiba123"> <p>https://github.com/Umme-Habiba123</p></a>

              <a href="https://www.linkedin.com/in/mahiya-rehman/?isSelfProfile=true">  <p>https://www.linkedin.com/in/mahiya-rehman/?isSelfProfile=true</p></a>

            </div>

            <div>
                <h6>Education</h6>
                <p>Stamford University</p> <br>
            </div>

            <div>
                <h6>Skills</h6>
                <p>React <br> Next.js <br> MongoDB <br>Python <br>Tailwind <br>DaisyUI <br>JavaScript<br>Boostrap
                    <br>Communication Skills
                </p>
            </div>

            <div>
                <h3>Language</h3>
                <p>English - Fluent</p>
                <p>Bangla - Fluent</p>
            </div>

            <div>
                <h3>Training & Certification</h3>
                <p>Web Development</p>
            </div>
        </div>


        <div class="col-md-7 ">
            <div>
                <h3>Hi! it's Mahiya..</h3>
                <p>I’m a passionate Frontend Developer skilled in React.js, Next.js, JavaScript, and Tailwind CSS,
                    focused
                    on building clean and responsive web applications.
                    I enjoy learning new technologies, solving problems, and turning creative ideas into user-friendly
                    digital experiences.
                </p>
            </div>

            <div>
                <h3>Education</h3>
                <h6>Bachelor of Science (B.Sc.) in Computer Science & Engineering(CSE)</h6>
                <p>Stamford University Bangladesh</p>
                <p>2023 - ∞</p>
            </div>

            <div>

                <h6>Higher Secondery School</h6>
                <p>Motijheel Model college</p>
                <p>Passing Year - 2020</p>
                <p>GPA - 4.83</p>
            </div>
            <div>

                <h6>Secondery School Certificate</h6>
                <p>Ali Ahmed School & College</p>
                <p>Passing Year - 2017</p>
                <p>GPA - 4.91</p>
            </div>

            <div>
                <h3>Projects</h3>
               <a href="https://gilded-dolphin-31e21d.netlify.app/"> <h6> 1.Real Estate - Real Estate Management Platform</h6></a>
                <h6>Features :</h6>
                <p>
                    User can browse and search properties by location, price, and type.
                    Separate dashboards for Admin, Agent and Buyer with different access levels.
                    Users can contact agents or sent inquiries directly through the platform
                    RESTful APIs built Node.js and Express.js
                    •</p>
                <h6>
                    Technologies Used :
                </h6>
                <p>Tailwind CSS, React.js, Node.js, Express.js, Firebase, JWT, Hot Toast
                </p>

            </div>
            <div>

               <a href="https://inspiring-piroshki-a70fe3.netlify.app/"> <h6>2.Flexora - Fleelance Service Marketplace Platform

                </h6></a>
                <h6>Features :</h6>
                <p>
                    Easy online
                    sign-up with automatic ID generation for each participant
                    , Autometically canculates and displays marathon results ,ranking and medal.
                    For smooth communication between frontend and backend .

                </p>
                <h6>
                    Technologies Used :
                </h6>
                <p>Tailwind CSS, React.js, Node.js, Express.js, Firebase, JWT, Hot Toast

                </p>

            </div>


        </div>



    </div>

</div>

{% endblock content %}